beautifulsoup4==4.12.3
graphistry==0.34.17
matplotlib==3.9.2
networkx==3.4.2
numpy==2.1.3
pandas==2.2.3
python-dotenv==1.0.1
python3_discogs_client==2.7.1
rapidfuzz==3.10.1
Requests==2.32.3
spotipy==2.24.0
